# Project source
src/
.github/
ansible/
nginx/
terraform/

# Project config files — root level
!.gitignore
!.dockerignore
docker-compose.yml
Dockerfile
package.json
package-lock.json
README.md

# Ignore everything by default
/*
